*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* Common: dùng chung */
.clear{
    clear: both;
}

.text-center{
    text-align: center !important;
}

.pull-right{
    float: right !important;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding: 0 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: calc(100%/2);
}

.col-third{
    width: calc(100%/3);
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}
/* main */
#main{

}
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;

}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav > li:hover > a,
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}

#nav li{
    position: relative;
}

#nav li a {  
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;  
}

#nav .subnav{
    min-width: 160px;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#slider{
    margin-top: 46px; 
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') no-repeat top center / cover ;
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    /* left: 0;
    right: 0; */
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}
#content .content-section{
    padding: 64px 0 112px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px; 
}

#content .section-sub-heading{
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    
    opacity: 0.6;
}

#content .section-heading,
#content .section-sub-heading{
    text-align: center;
}

#content .about-text{
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;

}

#content .member-list{
    margin-top: 47px;
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img{
    margin-bottom: 16px;
    width: 154px;
    border-radius: 4px;

}

 /* ABOUT _ TOUR */
.tour-section{
    background: #000;
    color: #fff;
}

.tickets-list{
    margin-top: 40px;
    background: #fff;
    list-style-type: none;
}

.tickets-list li{
    font-size: 15px;
    padding: 8px 16px;
    color: #757575;
    border-bottom:1px solid #ddd ;
}

.tickets-list .sold-out{
    background: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px ;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    margin-right: 16px; ;
    background: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -4px;
}

/* Places */
.place-list{
    /* margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; */
    margin-top: 32px;

}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0,6;
}

.place-body{
    background: #fff;
    color: black;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}


.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}



/* Contact from */
.contact-content{
    margin-top: 47px;
    line-height: 1.5;
}

.contact-info{
    font-size: 18px;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.map-section img{
    width: 100%;

}



#footer{
    padding: 64px 16px;
    text-align: center;
}     

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);

}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}









.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center ;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    display: none;
}

 .open{
    display: flex;
}

.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.4s;
}

.modal .modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
}

.modal .modal-close:hover{
    cursor: pointer;
    background: #fff;
    color: black;
    
}

.modal .modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-heading-icon{
    margin-right: 16px;
    
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    
 
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

 #buy-tickets{
    border: none;
    color: #fff;
    background: #009688;
    width: 100%;
    text-transform: uppercase;
    padding: 18px;
}

#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer{
    float: right;
    padding: 15px 0;
    margin: 15px 0;
}

.modal-help{
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-160px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}